extends base.pug

block content
    <div class="w-ful h-full bg-white rounded-xl m-4 shadow-md mt-6 p-8">
        <h1 class="text-center text-3xl font-bold text-[#263238]">Add User</h1>

        <div id="class-detail-container" class="sm:flex flex-wrap flex-col mt-8">
            <div class="lg:w-96 sm:w-96 w-full  mx-auto mt-4">
                <label for="user-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Id</label>
                <input type="text" id="user-id" name="user-id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-96 sm:w-96 w-full  mx-auto mt-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" id="password" name="password" placeholder="12345678" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-96 sm:w-96 w-full mx-auto mt-4">
                <button class="w-full h-10 bg-gradient-to-tr from-blue-600 to-blue-400 mt-7 rounded-xl text-white font-bold text-md" onclick="updatePassword()">Update Password</button>
            </div>

            <div class="relative w-full mt-5 min-w-[200px]">
                <p id="error" class="text-green-600 text-xs"></p>
            </div>
        </div>  
    </div>

    script(src="../javascript/admin/forgetPassword.js")