extends base.pug

block heading 
    |Attendance

block navigation
    <span class="text-[#607d8b] text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
    <a href="/attendance">  
        <p class="block antialiased font-sans text-sm leading-normal text-[#263238] font-normal">Attendance</p>
    </a>

block content 
    <div class="w-ful h-full bg-white rounded-xl m-4 shadow-md mt-6 p-8">
        <h1 class="text-center text-3xl font-bold text-[#263238]">Attendance of Student</h1>

        <div id="class-detail-container" class="mt-5 flex flex-wrap flex-row justify-center lg:space-x-4">
            <div class="lg:w-48 sm:w-2/5 w-full sm:mr-4">
                <label for="branch" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an Branch</label>
                <select id="branch" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected value="AIDS">AIDS</option>
                    <option value="CS">CS</option>
                    <option value="EC">EC</option>
                    <option value="ME">ME</option>
                </select>
            </div>
            <div class="lg:w-48 sm:w-2/5 w-full">
                <label for="semester" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an Semester</label>
                <select id="semester" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected value="1">1<sup>st</sup></option>
                    <option value="2">2<sup>nd</sup></option>
                    <option value="3">3<sup>rd</sup></option>
                    <option value="4">4<sup>th</sup></option>
                    <option value="5">5<sup>th</sup></option>
                    <option value="6">6<sup>th</sup></option>
                    <option value="7">7<sup>th</sup></option>
                    <option value="8">8<sup>th</sup></option>
                </select>
            </div>
            <div class="lg:w-48 sm:w-2/5 w-full sm:mr-4">
                <label for="section" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an Section</label>
                <select id="section" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="lg:w-48 sm:w-2/5 w-full">
                <button class="w-full h-10 bg-gradient-to-tr from-blue-600 to-blue-400 mt-7 rounded-xl text-white font-bold text-md" onclick="getStudentList()">Get Student List</button>
            </div>
        </div>  

        <div id="student-container" class="hidden">
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-7">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">Student name</th>
                            <th scope="col" class="py-3 px-6">Enrollment no.</th>
                            <th scope="col" class="py-3 px-6">Attendance status</th>
                        </tr>
                    </thead>
                    <tbody id="student-attendance-container" >
                        <!-- container to populate student list  -->
                    </tbody>
                </table>
            </div>

            <div class="flex flex-wrap flex-row w-full mt-8 text-gray-800 font-semibold text-center shadow-md rounded-xl">
                <div id="total-present" class="md:w-1/3 w-full my-4">Total Present: - 20</div>
                <div id="total-absent" class="md:w-1/3 w-full my-4">Total Absent: - 20</div>
                <div id="total-leave" class="md:w-1/3 w-full my-4">Total Leave: - 20</div>
            </div>

            <div id="class-detail-container" class="mt-5 flex flex-wrap flex-row justify-center lg:space-x-4">
                <div class="lg:w-48 sm:w-2/5 w-full sm:mr-4">
                    <label for="class-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Class Type</label>
                    <select id="class-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected value="tutorial">Tutorial</option>
                        <option value="practical">Practical</option>
                    </select>
                </div>
                <div class="lg:w-48 sm:w-2/5 w-full">
                    <label for="lecture-no" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Number of Lecture</label>
                    <select id="lecture-no" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected value="1">1<sup>st</sup></option>
                        <option value="2">2<sup>nd</sup></option>
                        <option value="3">3<sup>rd</sup></option>
                        <option value="4">4<sup>th</sup></option>
                        <option value="5">5<sup>th</sup></option>
                        <option value="6">6<sup>th</sup></option>
                    </select>
                </div>
            </div>  

            <div class="w-full">
                <button class="w-full h-14 bg-gradient-to-tr from-blue-600 to-blue-400 mt-7 rounded-xl text-white font-bold text-xl shadow-md hover:shadow-blue-400" onclick="submitStudentAttendance()">Submit Attendance</button>
            </div>
        </div>
    </div>


    script(src="../javascript/attendance/attendance.js")