extends base.pug

block heading 
    |Change Password

block navigation
    <span class="text-[#607d8b] text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
    <a href="/change-password">  
        <p class="block antialiased font-sans text-sm leading-normal text-[#263238] font-normal">change-password</p>
    </a>

block content 
    <div class="w-ful h-full bg-white rounded-xl m-4 shadow-md mt-6 p-8">
        <h1 class="text-center text-3xl font-bold text-[#263238]">Change Password</h1>

        <div id="class-detail-container" class="sm:flex flex-wrap flex-col mt-8">
            <div class="lg:w-96 sm:w-96 w-full  mx-auto mt-4">
                <label for="current-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
                <input type="text" id="current-password" name="current-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-96 sm:w-96 w-full  mx-auto mt-4">
                <label for="new-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <input type="password" id="new-password" name="new-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-96 sm:w-96 w-full  mx-auto mt-4">
                <label for="conform-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Conform Password</label>
                <input type="password" id="conform-password" name="conform-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-96 sm:w-96 w-full mx-auto mt-4">
                <button class="w-full h-10 bg-gradient-to-tr from-blue-600 to-blue-400 mt-7 rounded-xl text-white font-bold text-md" onclick="changePassword()">Change Password</button>
            </div>

            <div class="relative w-full mt-5 min-w-[200px]">
                <p id="error" class="text-green-600 text-xs"></p>
            </div>
        </div>  
    </div>

    script(src="../javascript/auth/changePassword.js")