doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing page
        script(src="https://cdn.tailwindcss.com")
    <body style="background-image: url(https://i.pinimg.com/originals/6f/6b/36/6f6b36af5d9f5ad13ff756c50ca1686a.jpg);">
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-16 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1"></h2>
                <h1 class="sm:text-4xl text-2xl font-bold title-font text-white">Student Leave Management System</h1>
                </div>
                <div class="flex flex-wrap -m-4">
                <div class="p-4 md:w-1/3">
                    <a href="/">
                        <div class="flex rounded-xl h-full bg-gray-100 p-8 flex-col shadow-lg">
                            <div class="flex items-center mb-3">
                                <div class="w-14 h-14 p-3 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                                    <img src="/static/student.svg" alt="">
                                </div>
                                <h2 class="text-gray-900 text-lg title-font font-medium">Student Login</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-base">Student dashboard where he/his can apply for leave and check status of there leave and attendance.</p>
                                <a class="mt-3 text-indigo-500 inline-flex items-center bg-white py-1 px-4 rounded-full shadow-md">Visit</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="p-4 md:w-1/3">
                    <a href="/">
                        <div class="flex rounded-xl h-full bg-gray-100 p-8 flex-col shadow-lg">
                            <div class="flex items-center mb-3">
                                <div class="w-14 h-14 p-3 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                                    <img src="/static/teacher.svg" alt="">
                                </div>
                                <h2 class="text-gray-900 text-lg title-font font-medium">Teacher Login</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-base">Teacher dashboard where teacher can approved and reject leave of student and get notification of leave.</p>
                                <a class="mt-3 text-indigo-500 inline-flex items-center bg-white py-1 px-4 rounded-full shadow-md">Visit</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="p-4 md:w-1/3">
                    <a href="/admin-dashboard/login">
                        <div class="flex rounded-xl h-full bg-gray-100 p-8 flex-col shadow-lg">
                            <div class="flex items-center mb-3">
                                <div class="w-14 h-14 p-3 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                                    <img src="/static/admin.svg" alt="">
                                </div>
                                <h2 class="text-gray-900 text-lg title-font font-medium">Admin Login</h2>
                            </div>
                            <div class="flex-grow">
                                <p class="leading-relaxed text-base">Admin dashboard where admin can add student and teacher.</p>
                                <a class="mt-8 text-indigo-500 inline-flex items-center bg-white py-1 px-4 rounded-full shadow-md">Visit</a>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
            </div>
        </section>

        <section class="text-gray-600 body-font">
            <div class="container px-5 mx-auto ">
                <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-4xl text-2xl font-bold title-font mb-4 text-white">Our Team</h1>
                <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p> -->
                </div>
                <div class="flex flex-wrap justify-center -m-2">
                    <div class="p-2 lg:w-1/4 md:w-1/2 w-full">
                        <div class="h-full flex items-center bg-white border-gray-200 border p-4 rounded-lg shadow-md">
                        <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Kartik Baderiya</h2>
                            <!-- <p class="text-gray-500">UI Designer</p> -->
                        </div>
                        </div>
                    </div>
                    <div class="p-2 lg:w-1/4 md:w-1/2 w-full">
                        <div class="h-full flex items-center bg-white border-gray-200 border p-4 rounded-lg shadow-md">
                        <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Ritik Parihar</h2>
                            <!-- <p class="text-gray-500">CTO</p> -->
                        </div>
                        </div>
                    </div>
                    <div class="p-2 lg:w-1/4 md:w-1/2 w-full">
                        <div class="h-full flex items-center bg-white border-gray-200 border p-4 rounded-lg shadow-md">
                        <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Priyanshu Jain</h2>
                            <!-- <p class="text-gray-500">Founder</p> -->
                        </div>
                        </div>
                    </div>
                    <div class="p-2 lg:w-1/4 md:w-1/2 w-full">
                        <div class="h-full flex items-center bg-white border-gray-200 border p-4 rounded-lg shadow-md">
                        <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/90x90">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Shubh Singh</h2>
                            <!-- <p class="text-gray-500">DevOps</p> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>