extends base.pug

block heading 
    |Home

block navigation
    //- <span class="text-[#607d8b] text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
    //- <a href="/">  
    //-     <p class="block antialiased font-sans text-sm leading-normal text-[#263238] font-normal">home</p>
    //- </a>

block script

block  content
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/balloon/ckeditor.js"></script> -->

    <div class="w-ful h-full bg-white rounded-xl m-4 shadow-md mt-6 p-8">
        <h1 class="text-center text-3xl font-bold text-[#263238]">Application For Leave</h1>
        <div class="m-5 flex flex-wrap sm:flex-row flex-col">
            <div class="w-full">
                <label class="block text-lg font-bold text-[#263238]" for="application-body">Subject of application</label>
                <input type="subject" class="block mt-2 border-2 rounded-lg px-3 py-2 w-full focus:outline-none mb-4" name="application-subject" id="application-subject"></input >
            </div>
            <div class="w-full">
                <label class="block text-lg font-bold text-[#263238]" for="application-body">Write reason for leave here</label>
                <textarea class="block mt-2 border-2 rounded-lg px-3 py-2 w-full h-96 focus:outline-none" name="application-body" id="application-body" cols="30" rows="20"></textarea>
            </div>
            <div class="w-40 mr-7">
                <label for="leave-from" class="block text-lg font-bold text-[#263238] mt-5">Leave from</label>
                <input class="mt-2 border-2 rounded-lg px-3 py-2 w-full focus:outline-none" type="date" name="leave-from" id="leave-from" >
            </div>
            <div class="w-40">
                <label for="leaves-days" class="block text-lg font-bold text-[#263238] mt-5">Enter leaves days</label>
                <input class="mt-2 border-2 rounded-lg px-3 py-2 w-full focus:outline-none" type="number" name="leaves-days" id="leaves-days" placeholder="2" min="1" max="7">
            </div>
            //- <div class="w-full mt-7">
            //-     <input type="file" id="file" class="">
            //- </div>
            <div class="flex items-center justify-center w-full mt-3">
                <label for="file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg aria-hidden="true" class="w-16 h-16 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                        <p class="mb-2 text-md text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p id="attached-file-name" class="text-md text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    <input id="file" type="file" class="hidden" onchange="onAttachFile()" />
                </label>
            </div> 
            <p id="update" class="text-sm text-red-500 hidden mt-4"></p>
            <button class="w-full h-16 bg-gradient-to-tr from-blue-600 to-blue-400 mt-6 rounded-xl text-white font-bold text-xl" onclick="sendApplication()">SEND APPLICATION</button>
        </div>
    </div>
 
    script(src="../javascript/application/leaveApplication.js")