extends base.pug

block heading 
    |Notification

block navigation
    <span class="text-[#607d8b] text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
    <a href="/notifications">  
        <p class="block antialiased font-sans text-sm leading-normal text-[#263238] font-normal">Notification</p>
    </a>

block content
    <div class="w-ful h-full bg-white rounded-xl m-4 shadow-md mt-6 p-8">
        <h1 class="text-center text-3xl font-bold text-[#263238]">Notifications</h1>

        <div class="container mx-auto flex flex-wrap flex-row w-full mt-4 bg-slate-100 text-gray-800 font-semibold text-center shadow-inner shadow-current rounded-xl">
            <div id="" class="w-full my-4 font-bold text-xl">Summary</div>
            <div id="total-applications" class="md:w-1/4 w-full my-4"></div>
            <div id="total-pending" class="md:w-1/4 w-full my-4"></div>
            <div id="total-approved" class="md:w-1/4 w-full my-4"></div>
            <div id="total-rejected" class="md:w-1/4 w-full my-4"></div>
        </div>

        <div id="notification-container" class="container mt-7">
        </div>
    </div>


    script(src="../javascript/application/notification.js")